body{
margin: 0px;
padding: 0px;
background-color: blue;
}
img{
    height: 500px;
    width: 90%;
    margin: 0rem 5rem;
    margin-top: 2rem;
}
h1{
    text-align: center;
}
div{
    position: relative;
}
button{
    background-color: black;
    border: none;
    height: 50px;
}
 button i{
   color: white;
}
#back{  
    position: absolute;
    top: 50%;
    right: 0%;
    margin: 0rem 3.4rem;
}
#next{
    position: absolute;
    top: 50%;
    left: 0%;
    margin: 0rem 5rem;
}
